.additional-catalog {
  padding-top: 30px;
  padding-bottom: 35px;
}

.additional-catalog__header {
  position: relative;
  padding-bottom: 33px;

  h2 {
    @include oswald(300);
    @include margin-auto;
    font-size: 24px;
    line-height: 24px;
    color: $first-text;
    background-color: $base-background;

    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 320px;
    padding-left: 20px;

    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      right: 0;
      top: 13px;
      background-color: $color-first-background;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 240px);
    height: 3px;
    right: 0;
    top: 13px;
    background-color: $color-first-background;
    z-index: -1;
  }
}

.additional-catalog__special-offer {
  display: flex;
  justify-content: center;

  @include arial;
  font-size: 16px;
  line-height: 20px;
  color: $third-text;

  @include margin-auto;
  width: 280px;
  min-height: 289px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  p {
    position: relative;
    text-align: center;
    width: 170px;
    margin: 0;
    padding-top: 186px;
    padding-bottom: 20px;

    &::before {
      position: absolute;
      content: "";
      width: 56px;
      height: 61px;
      top: 65px;
      left: 58px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .additional-catalog__special-offer {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

//
@media (min-width: $tablet-width) {
  .additional-catalog {
    padding-top: 8px;
    padding-bottom: 76px;
  }

  .additional-catalog__header {
    padding-bottom: 80px;

    h2 {
      font-size: 36px;
      line-height: 36px;

      width: 768px;
      padding-left: 67px;
      padding-right: 335px;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        left: 0;
        top: 21px;
        background-color: $color-first-background;
      }

      &::after {
        position: absolute;
        content: "";
        width: 335px;
        height: 3px;
        right: 0;
        top: 21px;
        background-color: $color-first-background;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      left: 0;
      top: 21px;
      background-color: $color-first-background;
      z-index: -1;
    }
  }

  .additional-catalog__special-offer {
    justify-content: flex-end;

    width: 708px;
    min-height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;

    p {
      text-align: left;
      padding-top: 70px;
      padding-bottom: 20px;
      margin-right: 115px;

      &::before {
        top: 65px;
        left: -330px;
      }
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .additional-catalog__special-offer {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .additional-catalog {
    padding-top: 17px;
    padding-bottom: 22px;
  }

  .additional-catalog__header {
    h2 {
      width: $desktop-width;
      padding-left: 47px;
      padding-right: 900px;

      &::before {
        top: 23px;
        width: 6px;
      }

      &::after {
        top: 23px;
        width: 882px;
      }
    }

    &::after {
      top: 23px;
    }
  }

  .additional-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;

    @include margin-auto;
    width: 1232px;
  }

  .additional-catalog__special-offer {
    justify-content: flex-end;

    width: 245px;
    min-height: 289px;
    margin-left: 0;
    margin-right: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;

    p {
      @include margin-auto;
      position: relative;
      width: 170px;
      padding-top: 190px;
      padding-bottom: 20px;
      text-align: center;

      &::before {
        top: 66px;
        left: 59px;
      }
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .additional-catalog__special-offer {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}
