.catalog-list {
  @include zero-list;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {}

