.catalog-list {
  @include zero-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

//
@media (min-width: $tablet-width) {
  .catalog-list {
    flex-direction: row;
  }

  .catalog-list__item {
    margin-bottom: 59px;
  }
}

//
@media (min-width: $desktop-width) {
  .catalog-list {
    padding-left: 5px;
  }

  .catalog-list__item {
    margin-bottom: 63px;
  }
}
