.fieldset-cat {
  @include oswald(300);

  border: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.fieldset-cat__item {
  margin-top: 0;
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fieldset-cat__input {
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  line-height: 41px;
  padding-left: 16px;
  margin-left: 13px;
  flex-grow: 1;
}

//
@media (min-width: $tablet-width) {
  .fieldset-cat {
    width: 630px;
    padding-left: 2px;
    padding-right: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .fieldset-cat__item {
    margin-bottom: 18px;
    align-items: flex-start;
  }

  .fieldset-cat__label {
    padding-top: 17px;
  }

  .fieldset-cat__input {
    line-height: 50px;
    padding-left: 18px;
    margin-left: 17px;
    flex-grow: 1;
  }
}

//
@media (min-width: $desktop-width) {
  .fieldset-cat {
    width: 566px;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .fieldset-cat__item {
    margin-bottom: 20px;
  }
}
