.fieldset-comment {
  @include oswald(300);
  font-size: 16px;
  line-height: 18px;
  color: #111111;

  border: none;
  padding: 0;
  padding-bottom: 15px;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 250px);
    height: 3px;
    right: 0;
    top: 13px;
    background-color: #68b738;
    z-index: -1;
  }
}

.fieldset-comment__legend {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
  color: #111111;
  text-transform: none;
  width: 320px;

  padding-bottom: 30px;
  padding-right: 110px;
  padding-left: 20px;

  margin-left: auto;
  margin-right: auto;

  &::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 3px;
    right: 0;
    top: 13px;
    background-color: #68b738;
  }
}

.fieldset-comment__wrapper {
  @include margin-auto;
  width: 280px;
  height: 151px;
}

.fieldset-comment__text {
  display: block;
  width: 280px;
  height: 150px;
  resize: none;
  padding-left: 16px;
  padding-top: 13px;
  margin-bottom: 16px;

  &::placeholder {
    text-transform: uppercase;
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .fieldset-comment {
    font-size: 20px;
    line-height: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      right: 0;
      top: 20px;
      background-color: #68b738;
      z-index: -1;
    }
  }

  .fieldset-comment__legend {
    font-size: 36px;
    line-height: 36px;
    width: 768px;

    padding-bottom: 70px;
    padding-left: 71px;
    padding-right: 177px;

    &::before {
      position: absolute;
      content: "";
      width: 41px;
      height: 3px;
      left: 0;
      top: 20px;
      background-color: #68b738;
    }

    &::after {
      width: 490px;
      top: 20px;
    }
  }

  .fieldset-comment__wrapper {
    width: 630px;
    min-height: 176px;
  }

  .fieldset-comment__text {
    width: 630px;
    height: 175px;
    padding-left: 17px;
    padding-top: 20px;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {}
