.fieldset-radio-button {
  @include oswald(300);
  font-size: 16px;
  line-height: 30px;
  color: #222222;
  text-transform: uppercase;

  border: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  padding: 0;
  padding-top: 20px;
  padding-bottom: 8px;
}

.fieldset-radio-button__radio-list {
  @include zero-list;
  @include margin-auto;
  width: 280px;
}

.fieldset-radio-button__radio-item {
  margin-bottom: 12px;
}

.fieldset-radio-button__radio-item label {
  position: relative;
  display: block;
  padding-left: 45px;
  min-height: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }
}


/*Поведение на потом
/*.fieldset-radio-button__radio-item input:checked+label::before {
  border: 1px solid #000000;
}

.fieldset-radio-button__radio-item:hover label::before {
  border: 1px solid red;
}

  /*
.list-filter-bluetooth-item input:checked+label::before {
  background-image: url("../img/radioon.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.list-filter-bluetooth-item:hover label::before,
.list-filter-bluetooth-item-item:focus+label::before {
  opacity: 0.6;
}

.list-filter-bluetooth-item:active label::before {
  opacity: 1;
}

.list-filter-bluetooth-item input:disabled+label::before,
.list-filter-bluetooth-item input:disabled+label {
  opacity: 0.25;
}
*/

//
@media (min-width: $tablet-width) {
  .fieldset-radio-button {
    font-size: 20px;
    line-height: 20px;

    border-top: none;
    border-bottom: none;
  }

  .fieldset-radio-button__radio-list {
    width: 630px;
    padding-left: 25px;
    padding-top: 28px;
    padding-right: 67px;

    border: 1px solid #cdcdcd;
  }

  .fieldset-radio-button__radio-item {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  .fieldset-radio-button__radio-item label {
    position: relative;
    padding-left: 60px;
    padding-top: 3px;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      left: 0;
      top: 0;

      border: 1px solid #cdcdcd;
      border-radius: 50%;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .fieldset-radio-button {
    padding-top: 0;
  }

  .fieldset-radio-button__radio-list {
    width: 570px;
  }
}
