.fieldset-comment {
  @include oswald(300);
  font-size: 16px;
  line-height: 18px;
  color: #222222;

  border: none;
  padding: 0;
  padding-bottom: 13px;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 250px);
    height: 3px;
    right: 0;
    top: 14px;
    background-color: #68b738;
    z-index: -1;
  }
}

.fieldset-comment__legend {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
  color: #111111;
  text-transform: none;
  width: 320px;

  padding-bottom: 35px;
  padding-right: 110px;
  padding-left: 17px;

  @include margin-auto;

  &::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 3px;
    right: 0;
    top: 14px;
    background-color: #68b738;
  }
}

.fieldset-comment__text {
  @include margin-auto;

  display: block;
  width: 280px;
  height: 150px;
  resize: none;
  padding-left: 13px;
  padding-top: 13px;
  margin-bottom: 16px;

  &::placeholder {
    text-transform: uppercase;
    color: #444444;
  }
}

//
@media (min-width: $tablet-width) {
  .fieldset-comment {
    font-size: 20px;
    line-height: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      right: 0;
      top: 22px;
      background-color: #68b738;
      z-index: -1;
    }
  }

  .fieldset-comment__legend {
    font-size: 36px;
    line-height: 36px;
    width: 768px;

    padding-bottom: 70px;
    padding-left: 67px;
    padding-right: 177px;

    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 3px;
      left: 0;
      top: 22px;
      background-color: #68b738;
    }

    &::after {
      width: 481px;
      top: 22px;
    }
  }

  .fieldset-comment__text {
    width: 630px;
    height: 175px;
    padding-left: 17px;
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 16px;
  }
}

//
@media (min-width: $desktop-width) {
  .fieldset-comment__legend {
    width: $desktop-width;

    padding-left: 40px;
    padding-bottom: 68px;

    &::before {
      width: 5px;
    }

    &::after {
      width: 1040px;
    }
  }

  .fieldset-comment__text {
    width: 1220px;
    height: 174px;
    margin-bottom: 16px;
  }
}
