.fieldset-radio-button {
  @include oswald(300);
  font-size: 16px;
  line-height: 30px;
  color: $base-text;
  text-transform: uppercase;

  border: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  padding: 0;
  padding-top: 20px;
  padding-bottom: 8px;
}

.fieldset-radio-button__radio-list {
  @include zero-list;
  @include margin-auto;
  width: 280px;
}

.fieldset-radio-button__radio-item {
  margin-bottom: 12px;
}

.fieldset-radio-button__radio-item label {
  position: relative;
  display: block;
  padding-left: 45px;
  min-height: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;

    border-radius: 50%;
    border: 1px solid $base-radio;

    background-color: $base-background;
    box-shadow: none;
  }
}

.fieldset-radio-button__radio-item .fieldset-radio-button__radio-input:checked + label::before {
  background-color: $color-first-background;
  box-shadow: inset 0 0 0 9px $base-background;
}

.fieldset-radio-button__radio-item:hover label::before {
  border: 1px solid $hover-radio;
}

.fieldset-radio-button__radio-item:active {
  opacity: 0.5;
}

//
@media (min-width: $tablet-width) {
  .fieldset-radio-button {
    font-size: 20px;
    line-height: 20px;

    border-top: none;
    border-bottom: none;
    padding-top: 33px;
  }

  .fieldset-radio-button__radio-list {
    width: 630px;
    padding-left: 30px;
    padding-top: 24px;
    padding-right: 67px;
    padding-bottom: 12px;

    border: 1px solid #cdcdcd;
  }

  .fieldset-radio-button__radio-item {
    padding-bottom: 11px;
    margin-bottom: 12px;
  }

  .fieldset-radio-button__radio-item label {
    padding-left: 59px;
    padding-top: 9px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .fieldset-radio-button__radio-item .fieldset-radio-button__radio-input:checked + label::before {
    box-shadow: inset 0 0 0 11px $base-background;
  }
}


//
@media (min-width: $desktop-width) {
  .fieldset-radio-button {
    padding-top: 0;
  }

  .fieldset-radio-button__radio-list {
    width: 570px;
  }
}
