.fieldset-man {
  @include oswald(300);
  font-size: 16px;
  line-height: 18px;
  color: $base-text;
  text-transform: uppercase;

  border: none;
  padding: 0;
  padding-bottom: 13px;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 250px);
    height: 3px;
    right: 0;
    top: 14px;
    background-color: $color-first-background;
    z-index: -1;
  }
}

.fieldset-man__list {
  @include zero-list;
  @include margin-auto;
  width: 280px;
}

.fieldset-man__legend {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: $first-text;
  background-color: $base-background;
  text-transform: none;
  width: 320px;

  margin-top: 0;
  margin-bottom: 0;

  padding-bottom: 35px;
  padding-right: 110px;
  padding-left: 17px;

  @include margin-auto;

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    right: 0;
    top: 14px;
    background-color: $color-first-background;
  }
}

.fieldset-man__item {
  position: relative;
  margin-top: 0;
  margin-bottom: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fieldset-man__icon-mail-wrapper {
  position: absolute;
  right: 17px;
  top: 17px;
}

.fieldset-man__icon-phone-wrapper {
  position: absolute;
  right: 13px;
  top: 13px;
}

.fieldset-man__input {
  color: $second-text;
  height: 43px;
  padding-left: 15px;
  margin-left: 9px;
  flex-grow: 1;
  outline: none;
  border: 1px solid $base-decorate;

  &:hover {
    border: 1px solid $hover-decorate;
  }

  &:focus {
    border: 2px solid $input-decorate;
    height: 41px;


    & + svg .fieldset-man__icon {
      color: $color-first-background;
    }
  }

  &--error {
    border: 2px solid $error-decorate;
    height: 41px;

    & + svg .fieldset-man__icon {
      color: $error-decorate;
    }
  }

  &::placeholder {
    text-transform: uppercase;
  }
}

//
@media (min-width: $tablet-width) {
  .fieldset-man {
    font-size: 20px;
    line-height: 20px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      right: 0;
      top: 22px;
      background-color: $color-first-background;
      z-index: -1;
    }
  }

  .fieldset-man__legend {
    font-size: 36px;
    line-height: 36px;
    width: $tablet-width;

    padding-bottom: 73px;
    padding-left: 67px;
    padding-right: 0;

    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 3px;
      left: 0;
      top: 22px;
      background-color: $color-first-background;
    }

    &::after {
      width: 147px;
      top: 22px;
    }
  }

  .fieldset-man__list {
    width: $tablet-width;
    padding-top: 4px;
  }

  .fieldset-man__item {
    margin-left: 70px;
    margin-right: 65px;
    margin-bottom: 23px;
    align-items: flex-start;
  }

  .fieldset-man__icon-mail-wrapper {
    right: 22px;
    top: 19px;
  }

  .fieldset-man__icon-phone-wrapper {
    right: 20px;
    top: 17px;
  }

  .fieldset-man__label {
    padding-top: 15px;
  }

  .fieldset-man__input {
    height: 48px;
    padding-left: 18px;
    margin-left: 19px;

    &:focus {
      height: 48px;
    }

    &--error {
      height: 48px;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .fieldset-man__legend {
    width: $desktop-width;

    padding-left: 39px;
    padding-bottom: 75px;

    &::before {
      width: 3px;
    }

    &::after {
      width: 705px;
    }
  }

  .fieldset-man__list {
    @include margin-auto;
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1px;
  }

  .fieldset-man__item {
    margin-left: 0;
    margin-right: 67px;
    width: 580px;
    padding-left: 11px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &--phone input {
      padding-left: 15px;
    }
  }

  .fieldset-man__input {
    height: 52px;
    padding-left: 21px;

    &:focus {
      height: 50px;
    }

    &--error {
      height: 50px;
    }
  }

  .fieldset-man__icon-mail-wrapper {
    right: 20px;
    top: 20px;
  }

  .fieldset-man__icon-phone-wrapper {
    right: 15px;
    top: 16px;
  }
}
