.fieldset-comment {
  @include oswald(300);
  font-size: 16px;
  line-height: 18px;

  border: none;
  padding: 0;
  padding-bottom: 10px;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 250px);
    height: 3px;
    right: 0;
    top: 14px;
    background-color: $color-first-background;
    z-index: -1;
  }
}

.fieldset-comment__legend {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  background-color: $base-background;
  color: $first-text;
  text-transform: none;
  width: 320px;

  padding-bottom: 35px;
  padding-right: 110px;
  padding-left: 17px;

  @include margin-auto;
  margin-top: 0;
  margin-bottom: 0;

  &::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 3px;
    right: 0;
    top: 14px;
    background-color: $color-first-background;
  }
}

.fieldset-comment__text {
  @include margin-auto;

  display: block;
  width: 280px;
  height: 150px;
  resize: none;
  padding-left: 13px;
  padding-top: 13px;
  margin-bottom: 16px;
  color: $second-text;
  outline: none;
  border: 1px solid $base-decorate;

  &:hover {
    border: 1px solid $hover-decorate;
  }

  &:focus {
    border: 1px solid $input-decorate;
    box-shadow: inset 0 0 0 1px $input-decorate;
  }

  &--error {
    border: 1px solid $error-decorate;
    box-shadow: inset 0 0 0 1px $error-decorate;
  }

  &::placeholder {
    text-transform: uppercase;
  }
}

//
@media (min-width: $tablet-width) {
  .fieldset-comment {
    font-size: 20px;
    line-height: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      right: 0;
      top: 22px;
      background-color: $color-first-background;
      z-index: -1;
    }
  }

  .fieldset-comment__legend {
    font-size: 36px;
    line-height: 36px;
    width: 768px;

    padding-bottom: 70px;
    padding-left: 67px;
    padding-right: 177px;

    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 3px;
      left: 0;
      top: 22px;
      background-color: $color-first-background;
    }

    &::after {
      width: 481px;
      top: 22px;
    }
  }

  .fieldset-comment__text {
    width: 630px;
    height: 175px;
    padding-left: 17px;
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 16px;
  }
}

//
@media (min-width: $desktop-width) {
  .fieldset-comment__legend {
    width: $desktop-width;

    padding-left: 39px;
    padding-bottom: 68px;

    &::before {
      width: 3px;
    }

    &::after {
      width: 1040px;
    }
  }

  .fieldset-comment-wrapper {
    @include margin-auto;
    width: $desktop-width;
    padding-left: 40px;
    padding-top: 3px;
  }

  .fieldset-comment__text {
    width: 1220px;
    height: 174px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 18px;
    padding-top: 14px;
  }
}
