.fieldset-filter {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-bottom: 15px;
  @include oswald(300);
  font-size: 16px;
  line-height: 18px;
  color: #111111;
}

.fieldset-filter__legend {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-transform: none;
  width: 300px;

  padding-bottom: 30px;
  padding-right: 110px;

  &::after {
    position: absolute;
    content: "";
    width: 136px;
    height: 3px;
    right: 0;
    top: 13px;
    background-color: #68b738;
  }
}
