.filter-list {
  @include zero-list;
  text-transform: uppercase;
}

.filter-list__item {
  padding-bottom: 21px;
}

.filter-list__label {
  position: relative;
  padding-left: 46px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;

    border: 1px solid #cdcdcd;
  }
}
