.filter-list {
  @include zero-list;
  @include margin-auto;
  width: 280px;
}

.filter-list__item {
  font-size: 16px;
  line-height: 30px;
  min-height: 30px;
  margin-bottom: 13px;
}

.filter-list__label {
  display: block;
  position: relative;
  padding-left: 44px;
  height: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;

    border: 1px solid $base-checkbox;
    background: none;
  }

  &:hover::before {
    border: 1px solid $hover-checkbox;
  }

  &:active {
    opacity: 0.5;
  }
}

.filter-list__input:checked+.filter-list__label::before {
  background: url("/img/icon-tick.svg") center center no-repeat;
  background-size: 22px auto;
}

//
@media (min-width: $tablet-width) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
  }

  .filter-list__item {
    font-size: 20px;
    line-height: 20px;
    width: 270px;
    padding-bottom: 11px;
    margin-right: 74px;
    margin-bottom: 31px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .filter-list__label {
    padding-top: 9px;
    padding-left: 57px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
  }

  .filter-list__item {
    width: 220px;
    margin-right: 105px;
    padding-bottom: 11px;
    margin-bottom: 47px;

    &:nth-child(even) {
      margin-right: 105px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .filter-list__label {
    padding-top: 9px;
    padding-left: 60px;
  }
}
