.filter-list {
  @include zero-list;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.filter-list__item {
  padding-bottom: 21px;
}

.filter-list__label {
  position: relative;
  padding-left: 46px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;

    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-list__item {
    width: 345px;
    padding-bottom: 24px;
    margin-bottom: 34px;
  }

  .filter-list__label {
    padding-top: 5px;
    padding-left: 59px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {}
