.footer-academy-promo {
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 22px;
  width: 320px;
}

.footer-academy-promo__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;

  &:hover .footer-academy-promo__logo-link {
    color: $color-first-background;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer-academy-promo__text-link {
  @include arial;
  font-size: 16px;
  line-height: 34px;
  color: $second-text;
  padding-top: 5px;
}

.footer-academy-promo__logo-link {
  display: block;
  color: $base-social;
}

//
@media (min-width: $tablet-width) {
  .footer-academy-promo {
    width: 169px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .footer-academy-promo__link {
    justify-content: flex-start;
  }

  .footer-academy-promo__text-link {
    padding-top: 10px;
    font-size: 16px;
    line-height: 16px;
  }

  .footer-academy-promo__logo-link {
    margin-left: auto;
  }
}

//
@media (min-width: $desktop-width) {
  .footer-academy-promo {
    padding-top: 5px;
  }
}
