.footer-academy-promo {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 22px;
  width: 320px;
}

.footer-academy-promo__text-link {
  @include arial;
  font-size: 16px;
  line-height: 34px;
  color: #444444;
  text-decoration: none;
}

.footer-academy-promo__logo-link {
  display: block;
}

.footer-academy-promo__logo-image {
  display: block;
}

@media (min-width: $tablet-width) {
  .footer-academy-promo {
    width: 165px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {}
