.list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 25px;
  padding-bottom: 25px;

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.list-item__wrapper {
  @include margin-auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
}

.list-item__text-wrapper {
  width: 140px;
}

.list-item__header-link {
  display: block;
  text-decoration: none;
  color: #111111;
  width: 90px;

  &--expand {
    width: 320px;
    text-align: center;
  }
}

.list-item__header {
  @include oswald(300);
  font-size: 16px;
  line-height: 20px;

  &--expand {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

.list-item__image-link {
  order: -1;
}

.list-item__image {
  display: block;
}

.list-item__button {
  width: 280px;
}

.list-item__text {
  @include arial;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  padding-bottom: 20px;
}

//
@media (min-width: $tablet-width) {
  .list-item {
    border-top: none;
    margin-right: 60px;
    padding-bottom: 0;
    width: 324px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &--expand {
      margin-top: auto;
      border: 1px solid #dcdcdc;
    }
  }

  .list-item__wrapper {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    width: 324px;
    padding-bottom: 25px;

    background-image: linear-gradient(to bottom, #ffffff 140px, #f2f2ff 140px);

    &--expand {
      background-image: none;
    }
  }

  .list-item__text-wrapper {
    width: 250px;
    padding-bottom: 33px;
  }

  .list-item__header-link {
    @include margin-auto;
    display: block;
    text-decoration: none;
    color: #111111;
    width: 125px;

    &--expand {
      width: 135px;
    }
  }

  .list-item__header {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;

    &--expand {
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  .list-item__button {
    width: 250px;
  }

  .list-item__text {
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    width: 175px;
    padding-bottom: 80px;
    text-align: center;
  }
}

//
@media (min-width: $desktop-width) {
  .list-item {
    border-top: none;
    margin-right: 80px;
    padding-bottom: 0;
    width: 245px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--expand {
      margin-top: auto;
      border: 1px solid #dcdcdc;
      width: 245px;
    }
  }

  .list-item__wrapper {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    width: 245px;
    padding-bottom: 40px;

    background-image: linear-gradient(to bottom, #ffffff 140px, #f2f2ff 140px);

    &--expand {
      background-image: none;
    }
  }

  .list-item__text-wrapper {
    width: 169px;
    padding-bottom: 33px;
  }

  .list-item__button {
    width: 169px;
  }
}
