.logo {
  padding: 0;
}

.logo__image {
  display: block;
  margin: 0;
  padding: 0;
}

//
@media (min-width: $tablet-width) {
  .logo__image {
    width: 174px;
    height: 59px;

    &--footer {
      width: 128px;
      height: 24px;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .logo__image {
    width: 203px;
    height: 60px;
  }
}
