.main-nav {
  display: none;
  width: 100%;
}

.main-nav--show {
  display: block;
}

//
@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: 470px;
    padding-top: 24px;
  }
}

//
@media (min-width: $desktop-width) {
  .main-nav {
    width: 520px;
    padding-right: 8px;
    padding-top: 48px;
  }
}
