.main-form {
  padding-bottom: 34px;
}

.main-form__cat-fieldset {
  @include margin-auto;
  margin-bottom: 9px;
}

.main-form__fieldset-radio {
  margin-bottom: 30px;
}

.main-form__filter-fieldset {
  margin-bottom: 6px;
}

.main-form__bottom-item-wrapper {
  @include margin-auto;
  width: 320px;
}

.main-form__button {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 280px;
}

.main-form__note {
  margin: 0;
  text-align: center;

  @include arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

//
@media (min-width: $tablet-width) {
  .main-form__cat-fieldset {
    margin-bottom: 20px;
  }

  .main-form__fieldset-radio {
    margin-bottom: 66px;
  }

  .main-form__man-fieldset {
    margin-bottom: 33px;
  }

  .main-form__comment-fieldset {
    margin-bottom: 36px;
  }

  .main-form__filter-fieldset {
    margin-bottom: 12px;
  }

  .main-form__bottom-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
  }

  .main-form__button {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 60px;
    margin-bottom: 37px;
    width: 283px;
    height: 52px;
  }

  .main-form__note {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-top: 16px;
  }
}

//
@media (min-width: $desktop-width) {
  .main-form {
    padding-bottom: 44px;
  }

  .main-form__wrapper {
    display: flex;
    flex-wrap: wrap;

    @include margin-auto;
    margin-bottom: 25px;
    width: 1220px;
  }

  .main-form__cat-fieldset {
    margin-left: 0;
    margin-right: 80px;
  }

  .main-form__fieldset-radio {
    margin-bottom: 30px;
  }

  .main-form__comment-fieldset {
    margin-bottom: 41px;
  }

  .main-form__filter-fieldset {
    margin-bottom: 0;
  }

  .main-form__bottom-item-wrapper {
    width: 1220px;
  }

  .main-form__button {
    margin-left: 0;
    margin-right: 82px;
    margin-bottom: 37px;
    width: 568px;
    height: 52px;
  }
}
