.main-header {
  @include oswald(300);
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;

  width: 250px;

  padding-top: 29px;
  padding-bottom: 19px;

  &--catalog {
    color: #000000;
  }

  &--form {
    color: #000000;
  }
}


@media (min-width: $tablet-width) {
  .main-header {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 768px;
    padding-left: 120px;
    padding-right: 230px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {}
