.main-form {
  padding-bottom: 34px;
}

.main-form__cat-fieldset {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
}

.main-form__fieldset-radio {
  margin-bottom: 30px;
}

.main-form__filter-fieldset {
 margin-bottom: 10px;
}

.main-form__bottom-item-wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.main-form__button {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 280px;
}

.main-form__note {
  margin: 0;
  text-align: center;

  @include arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .main-form__fieldset-radio {
    margin-left: 71px;
    margin-right: 67px;
    margin-bottom: 79px;
  }

  .main-form__man-fieldset {
    margin-bottom: 51px;
  }

  .main-form__comment-fieldset {
    margin-bottom: 51px;
  }

  .main-form__bottom-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__button {
    margin-left: 71px;
    margin-right: 60px;
    margin-bottom: 37px;
    width: 283px;
    height: 52px;
  }

  .main-form__note {
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-top: 17px;
  }
}

@media (min-width: $desktop-width) {}
