.main-nav {
  display: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: 480px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {

}
