.menu-toggle {
  display: block;
  position: absolute;
  border: none;
  background-color: transparent;

  padding: 0;

  width: 25px;
  height: 19px;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: $base-text;
    box-shadow: 0 8px 0 0 $base-text, 0 16px 0 0 $base-text;
  }

  &--active {

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 10px;
      left: 0;

      width: 26px;
      height: 2px;

      background-color: $base-text;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--hidden {
    visibility: hidden;
  }
}

//
@media (min-width: $tablet-width) {
  .menu-toggle {
    display: none;
  }
}
