.page-main-text {
  @include oswald(300);
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 35px;
  width: 250px;
}

@media (min-width: $tablet-width) {
  .page-main-text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    padding-bottom: 65px;
    width: 420px;
  }
}

@media (min-width: $desktop-width) {}
