.page-main-text {
  @include oswald(300);
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;

  @include margin-auto;
  padding-left: 20px;
  padding-bottom: 41px;
  padding-right: 70px;
  width: 320px;
}

//
@media (min-width: $tablet-width) {
  .page-main-text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    padding-right: 370px;
    padding-bottom: 65px;
    width: $tablet-width;
  }
}

//
@media (min-width: $desktop-width) {
  .page-main-text {
    @include margin-auto;
    width: 1220px;
    padding-left: 0;
    padding-right: 870px;
    padding-bottom: 65px;
  }
}
