.section-main-promo {
  text-align: center;
}

.section-main-promo__slogan {
  display: block;
  margin-bottom: 25px;

  @include oswald(300);
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.section-main-promo__image {
  display: block;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

.section-main-promo__button {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .section-main-promo {
    min-height: 635px;
    width: 709px;
    padding-left: 90px;
    background-image: url("/img/index-can-tablet@1x.jpg");
    background-position: center 40px;
    background-repeat: no-repeat;
  }

  .section-main-promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-bottom: 45px;
  }

  .section-main-promo__image {
    display: none;
  }

  .section-main-promo__button {
    width: 245px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {}
