.section-example {
  width: 320px;
  padding-top: 17px;
}

.section-example__header {
  @include oswald(300);
  font-size: 36px;
  line-height: 60px;
  color: $first-text;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 23px;
}

.section-example__text {
  @include arial;
  font-size: 14px;
  line-height: 18px;
  width: 290px;
  margin-bottom: 25px;
  padding-left: 20px;
  color: $second-text;
}

.section-example__characteristics {
  @include zero-list;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.section-example__characteristic-block {
  @include oswald(300);
  text-transform: uppercase;
  margin-bottom: 33px;

  &:first-child {
    margin-right: 32px;
  }

  &--block {
    position: relative;
    color: $first-text;
    width: 124px;
    height: 56px;
    border: 1px solid #cdcdcd;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 13px;
  }

  &--inline {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    color: $first-text;
    text-align: center;
    margin-right: 20px;
  }
}

.section-example__block-text {
  @include arial;
  font-size: 12px;
  line-height: 12px;
  position: absolute;

  left: 17px;
  bottom: -16px;
  width: 87px;
  padding-left: 16px;
  padding-right: 16px;

  color: $second-text;
  text-transform: lowercase;

  background-color: $first-background;

  &--inline {
    @include oswald(300);
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    position: static;
    text-transform: uppercase;
    color: $first-text;
  }
}

.cat-transformer__cat-before,
.cat-transformer__cat-after {
  display: block;
}

//
@media (min-width: $tablet-width) {
  .section-example {
    width: 768px;
    padding-top: 13px;
    padding-bottom: 55px;
  }

  .section-example__header {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 65px;
  }

  .section-example__text {
    font-size: 16px;
    line-height: 24px;
    width: 706px;
    margin-bottom: 50px;
    padding-left: 30px;
  }

  .section-example__characteristics {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
  }

  .section-example__characteristic-block {
    &:first-child {
      margin-right: 42px;
    }

    &--block {
      width: 160px;
      height: 70px;

      font-size: 30px;
      line-height: 37px;
    }

    &--inline {
      font-size: 20px;
      line-height: 20px;
      width: 175px;
      text-align: right;
      margin-left: auto;
      margin-right: 30px;
      margin-bottom: 20px;
      padding-top: 10px;
    }
  }

  .section-example__block-text {
    font-size: 14px;
    line-height: 14px;

    left: 35px;
    bottom: -5px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: $base-background;

    &--weight {
      width: 115px;
      left: 21px;
    }

    &--time {
      width: 142px;
      left: 8px;
    }

    &--inline {
      display: block;
      width: 100px;
      margin-left: auto;
      margin-top: 8px;
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .section-example {
    width: 434px;
    padding-bottom: 53px;
    background-color: transparent;
  }

  .section-example__header {
    padding-left: 0;
    margin-top: 43px;
    margin-bottom: 115px;
  }

  .section-example__text {
    width: 434px;
    margin-bottom: 70px;
    padding-left: 0;
    padding-top: 31px;
  }

  .section-example__characteristics {
    padding-left: 0;
  }

  .section-example__characteristic-block {
    &--block {
      margin-bottom: 41px;
    }

    &--inline {
      width: 400px;
      text-align: left;
      padding-top: 20px;
      margin-left: 1px;
    }
  }

  .section-example__block-text {
    background-color: $first-background;

    &--inline {
      display: inline-block;
      margin-left: 58px;
      margin-top: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
