.section-promo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #f2f2f2;
  width: 280px;
  padding-left: 22px;
  padding-top: 24px;
  padding-bottom: 22px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
  }

  &--thin::after {
    content: "";
    position: absolute;
    left: 30px;
    top: 22px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }

  &--muscle::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 35px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.section-promo__header {
  @include oswald(300);
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;

  margin: 0;
  margin-left: 70px;
  padding-top: 5px;
}

.section-promo__text {
  @include arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  position: relative;

  width: 225px;
  margin-top: 22px;
  margin-bottom: 19px;
  padding-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.section-promo__link {
  @include oswald(300);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 12px;
    right: -37px;
    bottom: 1px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media (min-width: $tablet-width) {
  .section-promo {
    justify-content: space-between;
    width: 708px;
  }

  .section-promo__header {
    font-size: 36px;
    line-height: 37px;
  }

  .section-promo__icon {
    order: 1;
    width: 200px;
    height: 200px;
  }

  .section-promo__image {
    margin-top: 40%;
    margin-left: 40%;
  }



  .section-promo__link {
    order: 2;
  }

  .section-promo__text {
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {}
