.section-main-promo {
  text-align: center;
  padding-top: 11px;
}

.section-main-promo__slogan {
  display: block;
  margin-bottom: 30px;

  @include oswald(300);
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.section-main-promo__image {
  @include margin-auto;
  display: block;
  margin-bottom: 2px;
}

.section-main-promo__button {
  @include margin-auto;
  width: 280px;
  margin-bottom: 22px;
}

//
@media (min-width: $tablet-width) {
  .section-main-promo {
    min-height: 635px;
    width: 709px;
    padding-left: 90px;
    padding-top: 0;
    background-image: url("/img/index-can-tablet@1x.jpg");
    background-position: center 40px;
    background-repeat: no-repeat;
    background-size: 709px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/index-can-tablet@2x.jpg");
    }
  }

  .section-main-promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-bottom: 47px;
  }

  .section-main-promo__image {
    display: none;
  }

  .section-main-promo__button {
    font-size: 20px;
    line-height: 20px;
    width: 245px;
    height: 52px;
    padding-top: 16px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
  }
}

//
@media (min-width: $desktop-width) {
  .section-main-promo {
    min-height: 300px;
    width: 420px;
    padding-left: 0;
    background-image: none;
  }

  .section-main-promo__slogan {
    margin-bottom: 55px;
  }
}
