.site-list {
  @include zero-list;
}

.site-list__item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.site-list__item a {
  display: block;

  @include oswald(300);
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $first-text;

  text-align: center;
  padding-top: 22px;
  padding-bottom: 18px;
}

//
@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    border: none;
    margin-right: 35px;

    &:last-child {
      border-bottom: none;
      margin-right: 0;
    }

    a {
      font-size: 18px;
      line-height: 25px;
      padding-top: 18px;
      padding-bottom: 7px;
    }

    &--active a {
      border-bottom: 2px solid $color-first-background;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .site-list__item {
    a {
      font-size: 20px;
      line-height: 25px;
      padding-top: 25px;
      padding-bottom: 8px;
    }

    &--colored a {
      color: $third-text;
    }
  }

  .site-list__item--colored.site-list__item--active {
    border-bottom: 2px solid $base-background;
  }
}
