.social-list {
  @include zero-list;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.social-list__item {
  &:first-child {
    margin-left: 93px;
  }

  a {
    display: block;
    font-size: 0;
    height: 19px;
    color: $base-social;

    &:hover,
    &:focus {
      color: $color-first-background;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--vk a {
    width: 22px;
    margin-right: 36px;
  }

  &--instagramm a {
    width: 17px;
    margin-right: 40px;
  }

  &--facebook a {
    width: 12px;
  }
}

.social-list__img--desktop {
  display: none;
}

//
@media (min-width: $tablet-width) {
  .social-list {
    padding-left: 105px;
  }

  .social-list__item {
    &:first-child {
      margin-left: 0;
    }

    a {
      height: 28px;
    }

    &--vk a {
      width: 30px;
      margin-right: 28px;
    }

    &--instagramm a {
      width: 23px;
      margin-right: 29px;
    }

    &--facebook a {
      width: 14px;
    }
  }

  .social-list__img--mobile {
    display: none;
  }

  .social-list__img--desktop {
    display: block;
  }
}
