.stats-list {
  @include arial;
  font-size: 12px;
  line-height: 16px;
  color: $second-text;
  width: 140px;

  padding-top: 3px;

  p {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 16px;
  }
}

//
@media (min-width: $tablet-width) {
  .stats-list {
    font-size: 16px;
    line-height: 32px;
    width: 250px;

    p {
      border-bottom: 1px solid #dcdcdc;
      height: 32px;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .stats-list {
    width: 169px;
  }
}
