$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//color scheme
$base: #000000;
$base-background: #ffffff;
$prima-background: #f2f2f2;
$secunda-background: #ebebeb;
$color-prima-background: #68b738;
$color-secunda-background: #5eaa2f;

$base-text: #222222;
$prima-text: #111111;
$secunda-text: #444444;
$tertia-text: #ffffff;

$base-decorate: #ff8282;
