.advantages-list {
  margin: 0;
  margin-left: 20px;
  padding-left: 0;
  list-style: none;
}

.advantages-list__item {
  position: relative;
  @include oswald(300);
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 80px;
  margin-bottom: 20px;

  width: 241px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.advantages-list__item--function-food::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages-list__item--poowder-form::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages-list__item--easy-change::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages-list__item--early-results::before {
  background-image: url("../img/advantage-clock@1x.png");
}
