body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  min-width: 320px;
  height: 100%;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
  }
}
