.global-wrapper {
  min-width: 320px;

  @include margin-auto;

  &--color {
    background-color: $first-background;
  }

  &--color-all {
    background-color: $first-background;
  }

  &--map {
    background: url("/img/bg-map-mobile@1x.png") center top no-repeat;
    min-height: 363px;
  }
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .global-wrapper--map {
    background-image: url("/img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

//
@media (min-width: $tablet-width) {
  .global-wrapper {
    min-width: $tablet-width;

    &--color {
      position: relative;
      background: linear-gradient(180deg, $base-background 588px, transparent 588px),
        linear-gradient(90deg, $first-background 24%, $second-background 24%);

      &-modified-lighter {
        background-image: linear-gradient(180deg, $base-background 588px, $first-background 588px);
      }

      &-modified-darker {
        background-image: linear-gradient(180deg, $base-background 588px, $second-background 588px);
      }
    }

    &--it-work {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 30px;
        background-color: rgba($color: $base, $alpha: 0.05);
      }
    }

    &--map {
      background: url("/img/bg-map-tablet@1x.png") center top no-repeat;
      min-height: 400px;
    }
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .global-wrapper--map {
      background-image: url("/img/bg-map-tablet@2x.png");
      background-size: $tablet-width auto;
    }
  }
}

//
@media (min-width: $desktop-width) {
  .global-wrapper {
    &--it-work {
      padding-bottom: 35px;

      &::after {
        display: none;
      }
    }

    &--color {
      min-width: $desktop-width;
      background-image: linear-gradient(180deg, $base-background 191px, $second-background 191px);

      &-modified-lighter {
        background-image: linear-gradient(180deg, $base-background 191px, $first-background 191px);
      }

      &-modified-darker {
        background-image: linear-gradient(180deg, $base-background 191px, $second-background 191px);
      }
    }

    &--map {
      background: url("/img/bg-map-desktop@1x.png") center top no-repeat;
    }
  }


  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .global-wrapper--map {
      background-image: url("/img/bg-map-desktop@2x.png");
      background-size: 1400px auto;
    }
  }
}
