.page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page-header__wrapper {
  @include margin-auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
}

.page-header__logo {
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 16px;
}

.page-header__toggle {
  right: 19px;
  top: 22px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: none;
  }

  .page-header__wrapper {
    width: $tablet-width;
  }

  .page-header__logo {
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
  }

  .page-header__logo {
    margin-left: 110px;
  }

  .page-header {
    margin-top: 53px;
  }
}
