.page-footer__text-wraper {
  display: flex;
  flex-wrap: wrap;
  background-color: $base-background;

  padding-top: 28px;

  &--color {
    background-color: $first-background;
  }
}

.page-footer__footer-contacts {
  @include margin-auto;
}

.page-footer__logo {
  display: block;
  margin-bottom: 30px;
}

.page-footer__logo-image {
  @include margin-auto;
}

.page-footer__map {
  @include margin-auto;
  display: block;
  height: 363px;
}

.page-footer__bottom-wraper {
  padding-top: 40px;
  background-color: $first-background;
}

.page-footer__social {
  margin-bottom: 21px;
}

.page-footer__footer-academy-promo {
  @include margin-auto;
}

//
@media (min-width: $tablet-width) {
  .page-footer {
    background-color: $base-background;
  }

  .page-footer__text-wraper {
    padding-top: 65px;
    justify-content: space-between;
  }

  .page-footer__map {
    width: 767px;
    height: 400px;
  }

  .page-footer__bottom-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include margin-auto;
    width: 738px;
    padding-top: 53px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 10px;
  }

  .page-footer__logo {
    margin-top: 9px;
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .page-footer__footer-academy-promo {
    margin-left: 0;
    margin-right: 0;
  }
}

//
@media (min-width: $desktop-width) {
  .page-footer__map-wraper {
    min-height: 400px;
    background-color: $first-background;
  }

  .page-footer__map {
    width: 1440px;
  }

  .page-footer__text-wraper {
    position: absolute;
    left: 40px;
    top: 95px;
    width: 570px;
    min-height: 201px;
    padding-top: 65px;
  }

  .page-footer__bottom-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include margin-auto;
    width: 1250px;
    padding-top: 55px;
    padding-bottom: 45px;
    padding-left: 0;
  }

  .page-footer__social {
    margin-top: 9px;
  }

  .page-footer__logo {
    margin-top: 12px;
  }
}
