.page-main--index {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.page-main__main-header-index {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-main__section-main-promo {
  margin-left: auto;
  margin-right: auto;
}

.page-main__section-promo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.page-main__section-it-work {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}

.page-main__section-example {
  margin-left: auto;
  margin-right: auto;
}

.page-main__main-header-catalog {
  padding-top: 29px;
  padding-bottom: 33px;
}

.page-main__main-header-form {
  padding-top: 29px;
  padding-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .page-main--index {
    background-image: none;
  }

  .page-main__section-promo {
    margin-bottom: 30px;
  }

  .page-main__section-it-work {
    margin-bottom: 50px;
  }

  .page-main__main-header-catalog {
    padding-left: 30px;
  }

  .page-main__main-header-form {
    padding-left: 30px;
    padding-bottom: 53px;
  }

  .page-main__main-catalog {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {}
