.page-main--index {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.page-main__section-promo {
  margin-left: 20px;
  margin-bottom: 22px;
}

.page-main__section-it-work {
  margin-bottom: 47px;
}

.page-main__main-header-index {
  padding-top: 29px;
  padding-bottom: 19px;
}

.page-main__main-header-catalog {
  padding-top: 29px;
  padding-bottom: 33px;
}

.page-main__main-header-form {
  padding-top: 29px;
  padding-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .page-main--index {
    background-image: none;
  }

  .page-main__main-header-index {
    margin-left: 120px;
    padding-bottom: 30px;
  }

  .page-main__section-promo {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {}
