.page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  @include margin-auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
}

.page-header__logo {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.page-header__toggle {
  right: 0;
  top: 23px;
  margin-bottom: 23px;
  margin-right: 20px;
}

//
@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: none;
    width: $tablet-width;
  }

  .page-header__logo {
    margin-left: 30px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
}

//
@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__logo {
    margin-top: 53px;
    margin-left: 25px;
  }
}
