.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 16px;
}

.page-header__toggle {
  margin-right: 19px;
  margin-top: 22px;
  margin-bottom: 23px;
}
