.page-footer__footer-contacts {
  margin-left: auto;
  margin-right: auto;
}

.page-footer__logo {
  display: block;
  margin-bottom: 30px;
}

.page-footer__logo-image {
  margin-left: auto;
  margin-right: auto;
}

.page-footer__map {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__bottom-wraper {
  padding-top: 39px;
  background-color: #f2f2f2;
}

.page-footer__social {
  margin-bottom: 20px;
}

.page-footer__footer-academy-promo {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    background-color: #ffffff;
  }

  .page-footer__bottom-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {}
