.page-footer__text-wraper {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;

  padding-top: 30px;

  &--color {
    background-color: #f2f2f2;
  }
}

.page-footer__footer-contacts {
  @include margin-auto;
}

.page-footer__logo {
  display: block;
  margin-bottom: 30px;
}

.page-footer__logo-image {
  @include margin-auto;
}

.page-footer__map {
  @include margin-auto;
  display: block;
}

.page-footer__bottom-wraper {
  padding-top: 39px;
  background-color: #f2f2f2;
}

.page-footer__social {
  margin-bottom: 20px;
}

.page-footer__footer-academy-promo {
  @include margin-auto;
}

//
@media (min-width: $tablet-width) {
  .page-footer {
    background-color: #ffffff;
  }

  .page-footer__text-wraper {
    justify-content: space-between;
  }

  .page-footer__bottom-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include margin-auto;
    width: 738px;
  }

  .page-footer__footer-academy-promo {
    margin-left: 0;
    margin-right: 0;
  }
}

//
@media (min-width: $desktop-width) {
  .page-foter__map-wraper {
    @include margin-auto;
    min-height: 400px;
    padding-top: 95px;

    background-color: #ffffff;
    background-image: url("/img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  .page-footer__footer-contacts {
    margin-left: 0;
  }

  .page-footer__text-wraper {
    // ТУТ БУДЕТ АБСОЛЮТНОЕ ПОЗИЦИОНИРОВАНИЕ НА КАРТЕ
    margin-left: 40px;
    width: 570px;
    min-height: 201px;
    padding-top: 65px;
    padding-bottom: 5px;
  }

  .page-footer__map {
    display: none;
  }

  .page-footer__bottom-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include margin-auto;
    width: 1220px;
    padding-top: 64px;
    padding-bottom: 30px;
  }
}
