.button {
  @include oswald(300);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $third-text;

  display: block;
  position: relative;
  background-color: $color-first-background;
  min-height: 40px;
  padding-top: 10px;

  &:hover {
    background-color: $color-second-background;
  }

  &:active {
    color: $fourth-text;
  }

  &--expand {
    color: $second-text;
    background-color: $first-background;

    &:hover {
      background-color: $third-background;
    }

    &:active {
      color: $fifth-text;
    }
  }

  &--button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding-top: 0;
  }
}
