.controller-before-after {
  display: flex;
  padding-bottom: 36px;
  width: 320px;
}

.controller-before-after__text {
  @include oswald(300);
  font-size: 16px;
  line-height: 20px;
  color: $first-text;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;

  &:first-child {
    margin-left: 64px;
    margin-right: 19px;
  }

  &:last-child {
    margin-left: 17px;
  }
}

@media (max-width: $tablet-width - 1) {
  .controller-before-after__input-wrapper {
    position: relative;
    margin-top: 3px;
    width: 84px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: $base-background;
  }

  .controller-before-after__input {
    position: absolute;
    width: 45%;
    height: 6px;
    top: 3px;
    left: 0;
    border-radius: 3px;
    background-color: $color-first-background;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (min-width: $tablet-width) {
  .controller-before-after {
    width: 690px;
  }

  .controller-before-after__input-wrapper {
    position: relative;
    margin-top: 15px;
    width: 430px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
  }

  .controller-before-after__input {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $color-first-background;
    border: 1px solid #dcdcdc;
    box-shadow: inset 0 0 0 11px $base-background, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    top: -13px;
    left: 200px;

    &:hover {
      box-shadow: inset 0 0 0 11px $base-background, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 1px solid $color-first-background;
      box-shadow: inset 0 0 0 11px $base-background, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .controller-before-after__text {
    height: 34px;
    font-size: 20px;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }

    &:first-child {
      margin-left: 59px;
      margin-right: 24px;
    }

    &:last-child {
      margin-left: 18px;
    }
  }
}
