.controller-before-after {
  display: flex;
  padding-bottom: 35px;
  width: 320px;
}

@media (max-width: $tablet-width - 1) {
  .controller-before-after__input-wraper {
    display: flex;
    align-items: center;
    margin-top: 3px;
    width: 84px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }

  .controller-before-after__input {
    appearance: none;
    overflow: hidden;
    width: 76px;
    height: 6px;
    border-radius: 3px;
    margin-left: 4px;
    background-color: #ffffff;
  }

  .controller-before-after__input::-webkit-slider-runnable-track {
    appearance: none;
    height: 14px;
  }

  .controller-before-after__input::-webkit-slider-thumb {
    appearance: none;
    width: 6px;
    height: 6px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #68b738;
    border-radius: 3px;
    box-shadow: -82px 0 0 80px #68b738;
  }

  .controller-before-after__text {
    @include oswald(300);
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: uppercase;

    &:first-child {
      margin-left: 64px;
      margin-right: 19px;
    }

    &:last-child {
      margin-left: 17px;
    }
  }
}

@media (min-width: $tablet-width) {
  .controller-before-after__input {
    appearance: none;
    overflow: hidden;
    width: 430px;
    height: 34px;
    background-color: transparent;
  }

  .controller-before-after__input::-webkit-slider-runnable-track {
    appearance: none;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
  }

  .controller-before-after__input::-webkit-slider-thumb {
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -14px;
    background-color: #68b738;
    box-shadow: inset 0 0 0 1px #dcdcdc, inset 0 0 0 13px #ffffff;
  }

  .controller-before-after__text {
    font-size: 20px;

    &:first-child {
      margin-left: 104px;
      margin-right: 24px;
    }

    &:last-child {
      margin-left: 25px;
    }
  }
}
